<div class="container">
  <table class="table table-striped">
      <tbody>
        <tr>
          <th>Line name</th>
            <td><%= ascent.line.name %></td>
        </tr>

        <tr>
          <th>Grade</th>
            <td><%= ascent.line.grade %></td>
        </tr>

        <tr>
          <th>Crag</th>
            <td><%= ascent.line.crag %></td>
        </tr>

        <tr>
          <th>Kind</th>
            <td><%= ascent.line.kind %></td>
        </tr>

        <tr>
          <th>Style</th>
            <td><%= ascent.style %></td>
        </tr>

        <tr>
          <th>Date</th>
            <td><%= ascent.date %></td>
        </tr>

        <tr>
          <th>Belayer</th>
            <td><%= ascent.belayer %></td>
        </tr>

        <tr>
          <th>Points</th>
            <td><%= ascent.points %></td>
        </tr>
      </tbody>
  </table>
</div>
